@charset "UTF-8";

@use '../global' as g;

.l-header {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-40deg, g.$main-color 0%, g.$main-color 52%, #fff 48%, #fff 100%);
  @include g.tb {
    height: 10vh;
    background: linear-gradient(-40deg, g.$main-color 0%, g.$main-color 56%, #fff 33%, #fff 100%);
  }
  @include g.small {
    height: auto;
    background: linear-gradient(-40deg, g.$main-color 0, g.$main-color 50%, #fff 50%, #fff 100%);
    position: fixed;
    z-index: 999;
  }
}

