@charset "UTF-8";

@use "../../global" as g;

.c-contents {
  background: url(../images/guradietionhaikei.png)no-repeat;
  background-size: cover;
  position: relative;
  color: #000;
}
.c-contents-wrapper {
  background: rgba(255, 255, 255, 0.788);
  width: 80%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-contents__heading {
  position: absolute;
  top: -30px;
  // left: 37%;
  background: g.$sub-color;
  width: 400px;
  height: 70px;
  transform: skewX(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: g.$font-color;
  & span {
    display: block;
    transform: skewX(20deg);
  }
}