@charset "UTF-8";

@use '../../global' as g;

.c-top-visual {
  width: 100%;
  height: 400px;
  @include g.tb {
    height: auto;
  }
  @include g.small {
    
    padding-top: 70px;
  }
}

.c-top-visual__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  // @include g.tb {
  //   height: 100%;
    
  // }
}