@charset "UTF-8";

@use "../../global" as g;

.c-heading-back {
  position: absolute;
  top: -30px;
  // left: 37%;
  background: g.$sub-color;
  width: 400px;
  height: 70px;
  transform: skewX(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: g.$font-color;
  @include g.tb {
    height: 60px;
  }
  @include g.small {
    width: 60%;
    min-width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  & span {
    display: block;
    transform: skewX(20deg);
  }
}