@charset "UTF-8";

@use "../global" as g;

.p-contact {
  width: 100%;
  &-wrapper {
    width: 85%;
    margin: 110px auto 0;
    @include g.medium {
      width: 95%;
    }
    @include g.small {
      margin-top: 70px;
    }
  }
}

.p-contact__heading {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 4px;
  line-height: 1.5;
  margin-bottom: 100px;
  @include g.small {
    font-size: 1em;
    line-height: 2;
    margin-bottom: 60px;
  }
}

.p-contact__info {
  &__item {
    &__heading {
      font-size: 1.7em;
      letter-spacing: 3px;
      margin-bottom: 30px;
      @include g.medium {
        font-size: 1.3em;
      }
      @include g.small {
        font-size: 1em;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
      & span {
        display: inline-block;
        padding-right: 150px;
        border-bottom: 1px solid g.$main-color;
        @include g.tb {
          padding-right: 80px;
        }
        @include g.medium {
          padding-right: 40px;
        }
        @include g.small {
          padding-right: 0;
          width: 80%;
        }
      }
      & img {
        width: 40px;
        @include g.medium {
          width: 30px;
        }
        @include g.small {
          width: 20px;
        }
      }
    }
    &__text {
      margin-left: 60px;
      margin-bottom: 50px;
      letter-spacing: 3px;
      @include g.medium {
        margin-left: 40px;
        margin-right: 30px;
      }
      @include g.small {
        margin-left: 10px;
        margin-right: 0;
      }
      
      & img {
        width: 50px;
        margin-bottom: 6px;
        @include g.medium {
          width: 40px;
        }
        @include g.small {
          width: 25px;
        }
      }
      & a {
        font-size: 3.3em;
        line-height: 1;
        margin-left: 5px;
        @include g.medium {
          font-size: 2.5em;
        }
        @include g.small {
          font-size: 1.5em;
          margin-left: 0;
        }
      }
      &-note {
        margin-left: 65px;
        @include g.medium {
          margin-left: 55px;
        }
        @include g.small {
          margin-left: 35px;
          font-size: .8em;
          letter-spacing: 1px;
        }
      }
      &-summary {
        font-size: 1.2em;
        @include g.small {
          font-size: .9em;
        }
      }
    }
  }
}

.p-contact__form {
  width: 88%;
  margin: 80px auto 0;
  @include g.small {
    width: 100%;
  }
  & table {
    width: 100%;
    display: block;
  }
  & tbody {
    display: block;
  }
  &__item {
    width: 100%;
    line-height: 3;
    display: flex;
    border-bottom: 1px solid #707070;
    @include g.medium {
      display: block;
      border-bottom: none;
      line-height: 1;
      margin-bottom: 25px;
    }
    &:last-child {
      border: none; /*radioボタン消す*/
    }
  }
  &__heading {
    font-size: 1.45em;
    letter-spacing: 3px;
    font-weight: normal;
    width: 550px;
    align-self: flex-start;
    position: relative;
    padding-bottom: 10px;
    @include g.tb {
      width: 400px;
    }
    @include g.medium {
      display: block;
    }
    @include g.small {
      width: 100%;
      font-size: 1em;
    }
    &--company-name {
      margin-bottom: 20px;
      @include g.tb {
        margin-bottom: 30px;
      }
      @include g.small {
        margin-bottom: 20px;
      }
    }
  }
  &__attention {
    display: block;
    font-size: .7em; 
    position: absolute;
    top: 40px;
    left: 0;
    @include g.tb {
      font-size: .8em;
      letter-spacing: 1px;
    }
    @include g.medium {
      top: 30px;
    }
    @include g.small {
      top: 20px;
    }
  }
  &__desc {
    display: block;
    width: 100%;
    align-self: center;
    position: relative;
    @include g.medium {
      display: block;
    }
    
    &__item {
      display: block;
      border: 1px solid #707070;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      padding: 4px;
      @include g.small {
      padding: 2px 10px;
      }
      &:focus {
        border-color: #000;
        background-color: #f6f8fc;
        outline: none;
      }
      &--textarea  {
        margin: 15px 0;
        resize: none;
        line-height: 1.3;
        padding: 10px;
        @include g.small {
          margin: 0;
          line-height: 1.2;
        }
      }
    }
    & input[type=radio] {
      display: none;
    }
    &--column {
      margin: 20px 0 5px;
      @include g.medium {
        margin-top: 0;
      }
    }
  }
  &__submit {
    margin-top: 40px;
    text-align: center;
    &-btn {
      background: g.$main-color;
      border-radius: 8px;
      padding: 10px 70px;
      font-size: 1.4em;
      color: g.$font-color;
      letter-spacing: 8px;
      @include g.small {
        font-size: 1em;
        padding: 6px 30px;
        letter-spacing: 3px;
      }
    }
  }
}

/*radioボタン装飾*/
.p-contact__form__desc-radio {
  position: relative; 
  padding: 0 10px 0 30px; 
  display: block;
  line-height: 1.8;
  font-size: 1.3em;
  box-sizing: border-box;
  @include g.small {
    font-size: 1em;
  }
}

.p-contact__form__desc-radio::before,
.p-contact__form__desc-radio::after {
    position: absolute; 
    content: ""; 
    display: block; 
    top: 45%; 
    @include g.small {
      top: 50%;
    }
}

.p-contact__form__desc-radio::after {
  left: 0; 
  margin-top: -10px; 
  width: 19px; 
  height: 19px; 
  border: 1px solid #707070; 
  border-radius: 50%; 
  @include g.small {
    width: 15px;
    height: 15px;
    left: 5px;
  }
}

.p-contact__form__desc-radio::before {
  left: 3px; 
  margin-top: -7px;
  width: 13px; 
  height: 13px; 
  background: g.$main-color;
  border-radius: 50%; 
  opacity: 0; 
  @include g.small {
    left: 8px;
    width: 9px;
    height: 9px;
  }
}

input[type=radio]:checked + .p-contact__form__desc-radio::before {
  opacity: 1; 
  }
  