@charset "UTF-8";

@use "../global" as g;

.p-company {
  &__heading {
    font-size: 1.55em;
    margin-bottom: 20px;
    @include g.small {
      font-size: 1.3em;
    }
  }
  &-wrapper {
    &--profile {
      margin-bottom: 100px;
    }
  }
}