@charset "UTF-8";

@use "../global" as g;

.p-contents {
  background: url(../images/guradietionhaikei.png)no-repeat;
  background-size: cover;
  position: relative;
  color: #000;
}
.p-contents-wrapper {
  background: rgba(255, 255, 255, 0.932);
  width: 80%;
  margin: 0 auto;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include g.tb {
    padding-bottom: 100px;
  }
  @include g.small {
    width: 90%;
  }
}

// .p-contents__heading-back {
//   position: absolute;
//   top: -30px;
//   // left: 37%;
//   background: g.$sub-color;
//   width: 400px;
//   height: 70px;
//   transform: skewX(-20deg);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: g.$font-color;
//   & span {
//     display: block;
//     transform: skewX(20deg);
//   }
// }