@charset "UTF-8";

@use '../global' as g;

.p-g-nav {
  width: 50%;
  height: 100%;
  &-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 25px;
    &__item {
      font-size: 1.3em;
      width: 140px;
      text-align: center;
      border-bottom: 1px solid #fff;
      margin-left: 25px;
    }
  }
}