@charset "UTF-8";

@use '../global' as g;

.p-header {
    display: flex;
}
.p-header__logo {
  width: 50%;
  padding-top: 10px;
  align-items: center;
  margin-left: 25px;
  @include g.tb {
    width: 43%;
  }
  @include g.small {
    margin-left: 0;
  }
  & img {
    width: 180px;
    @include g.tb {
      width: 165px;
    }
    @include g.small {
      width: 130px;
    }
  }
}