@charset "UTF-8";

@use "../global" as g;

.p-info {
  width: 100%;
  &-wrapper {
    width: 75%;
    margin: 200px auto 0;
    @include g.tb {
      margin-top: 100px;
      width: 90%;
    }
    @include g.medium {
      width: 100%;
    }
  }
}

.p-info__item {
  display: flex;
  background: #2a4073c9;
  color: g.$font-color;
  margin-bottom: 50px;
  padding: 20px;
  height: 310px;
  @include g.medium {
    display: block;
    height: auto;
  }
  &:nth-child(even) .p-info__item-text {
    padding-left: 40px;
    padding-right: 7px;
    @include g.medium {
      padding: 0;
    }
  }
  
  &-text {
    width: 50%;
    padding: 0 20px 0 10px;
    @include g.tb {
      padding-top: 0px;
    }
    @include g.medium {
      width: auto;
    }
    &__heading {
      font-size: 1.9em;
      letter-spacing: 8px;
      position: relative;
      margin-bottom: 15px;
      @include g.medium {
        font-size: 1.3em;
        margin-bottom: 10px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 180px;
        height: .5px;
        top: 22px;
        left: 85px;
        background: g.$font-color;
        @include g.tb {
          width: 60%;
        }
        @include g.medium {
          width: 160px;
          top: 16px;
          left: 66px;
        }
      }
    }
    &__desc {
      width: 95%;
      text-align: justify;
      padding-left: 20px;
      letter-spacing: 4.5px;
      @include g.tb {
        width: 100%;
      }
      @include g.medium {
        font-size: 1em;
        padding-left: 15px;
      }
      @include g.small {
        
        letter-spacing: 3.87px;
        font-size: .9em;
        line-height: 1.2;
      }
    }
  }
  &-img {
    width: 50%;
    // padding: 20px;
    @include g.medium {
      width: 100%;
      padding-top: 20px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include g.medium {
        height: 400px;
      }
      @include g.small {
        height: 100%;
      }
    }
  }
}