@charset "UTF-8";

@use '../global' as g;

.p-services {
  width: 100%;
  height: calc(730px + 18vw);
  position: relative;
  background: url(../images/top-overview-under.png) no-repeat;
  background-size: contain;
  background-position: bottom;
  @include g.small {
    height: calc(730px + 5vw);
  }
}

.p-services__background {
  position: absolute;
  width: 560px;
  height: 420px;
  background: linear-gradient(-37deg, #fff 0%, #fff 50%, g.$main-color 50%, g.$main-color 100%);
  padding: 40px 70px;
  @include g.tb {
    width: 100%;
    height: 350px;
    background: linear-gradient(-37deg, #fff 0%, #fff 70%, g.$main-color 30%, g.$main-color 100%);
    padding: 30px 45px;
  }
  @include g.small {
    width: 100%;
    height: 250px;
    padding: 10px 15px;
  }
}

.p-services__contents {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.p-services__img {

  &--kani-top {
    position: absolute;
    transform: rotate(-18deg);
    width: 250px;
    top: 120px;
    left: 100px;
    @include g.tb {
      width: 160px;
      top: 80px;
      left: 60px;
    }
    @include g.small {
      width: 110px;
      top: 60px;
      left: 35px;
    }
  }

  &--hokkaidou {
    position: absolute;
    width: 520px;
    top: 150px;
    left: 51%;
    transform: translateX(-49%);
    -webkit-transform: translateX(-49%);
    -ms-transform: translateX(-49%);
    @include g.tb {
      width: 400px;
      top: 220px;
    }
    @include g.small {
      width: 240px;
      top: 200px;
    }
  }

  &--kani-bottom {
    position: absolute;
    width: 300px;
    bottom: -50px;
    right: 80px;
    z-index: 10;
    @include g.tb {
      width: 190px;
      bottom: 10px;
      right: 50px;
    }
    @include g.small {
      width: 130px;
      right: 0;
    }
  }
}

.p-services__desc {
  position: absolute;
  top:600px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  text-align: center;
  color: g.$subfont-color;
  font-size: 1.2em;
  width: 735px;
  margin: 0 auto;
  letter-spacing: 7px;
  line-height: 2.4;
  @include g.tb {
    top: 550px;
    letter-spacing: 5px;
    font-size: 1.1em;
    width: 600px;
  }
  @include g.small {
    top: 410px;
    letter-spacing: 3px;
    width: 95%;
    font-size: .9em;
    margin: 0 auto;
    line-height: 2;
  }
}