@charset "UTF-8";

.p-services {
  width: 100%;
  height: 123vh;
  ;
  background: linear-gradient(-37deg, #fff 0%, #fff 79.7%, $main-color 21.7%, $main-color 100%);
  position: relative;
  
  //  img
  &__img {
    

    &--kani-top {
    transform: rotate(-20deg);
    & img {
      position: absolute;
      width: 250px;
      top: -150px;
      left: 7%;
      }
    }

    &--hokkaidou {
      & img {
        position: absolute;
        width: 450px;
        top: 18%;
        left: 51%;
        transform: translateX(-49%);
        -webkit-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
      }
    }

    &--kani-bottom {
      & img {
        position: absolute;
        width: 300px;
        bottom: -5%;
        right: 80px;
        z-index: 10;
        }
      }
  }

  &__text {
    text-align: center;
    color: $subfont-color;
    font-weight: 500;
    font-size: 1.2em;
    width: 735px;
    margin: 480px auto 0;
    letter-spacing: 7px;
    line-height: 2.4;
    
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      padding-bottom: 34.68%;
      background: url(../images/top-overview-under.png) no-repeat;
      background-size: auto 100%;
      background-position: center top;
      left: 0;
      bottom: 0px;
      z-index: 0;
    }
  }


}